h1 {
    font-family: 'Cursive', sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.btn {
    margin: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .table {
        font-size: 0.9rem;
    }

    .btn {
        margin: 3px;
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    .img-fluid {
        max-width: 80px;
        height: auto;
    }
}


.ql-editor, p{
    color: black;
}

